<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testAnyNumeral()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.50987</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
			<key>testContainsClosure()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.52247</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
			<key>testLine()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.45074</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
			<key>testLiteralSearch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.63</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
			<key>testNonExistentLiteralSearch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.69844</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
			<key>testNotNewLine()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.60004</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
			<key>testOneOrMore()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.67399</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
			<key>testOptionalStringFollowedByNonOptionalString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.66386</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
			<key>testSkipping1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.46905</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
			<key>testWordBoundary()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.48131</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
			<key>testWordBoundaryManyLanguages()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.35017</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Mar 2020 at 20:49:38</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
