<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CollectionsRangesOfTests</key>
		<dict>
			<key>testWordBoundary()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.02</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testASCII()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.055683</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Jul 2019 at 17:45:41</string>
				</dict>
			</dict>
			<key>testLine()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.085125</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Aug 2019 at 01:20:53</string>
				</dict>
			</dict>
			<key>testLiteralSearch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021294</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Aug 2019 at 01:20:53</string>
				</dict>
			</dict>
			<key>testNonExistentLiteralSearch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25784</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Aug 2019 at 01:20:53</string>
				</dict>
			</dict>
			<key>testNotNewLine()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15302</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Aug 2019 at 01:20:53</string>
				</dict>
			</dict>
			<key>testOneOrMore()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.056624</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Aug 2019 at 01:20:53</string>
				</dict>
			</dict>
			<key>testOptionalStringFollowedByNonOptionalString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.20671</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Aug 2019 at 01:20:53</string>
				</dict>
			</dict>
			<key>testSkipping1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.061277</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Aug 2019 at 01:20:53</string>
				</dict>
			</dict>
			<key>testWordBoundary()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.28342</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Aug 2019 at 01:20:53</string>
				</dict>
			</dict>
			<key>testWordBoundaryManyLanguages()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.081833</real>
					<key>baselineIntegrationDisplayName</key>
					<string>27 Aug 2019 at 01:20:53</string>
				</dict>
			</dict>
			<key>testWordBoundaryRegex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.007244</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Jul 2019 at 00:12:10</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
