<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CollectionsRangesOfTests</key>
		<dict>
			<key>testWordBoundary()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.02</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testASCII()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.055683</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Jul 2019 at 17:45:41</string>
				</dict>
			</dict>
			<key>testLine()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.086368</real>
					<key>baselineIntegrationDisplayName</key>
					<string>26 Aug 2019 at 21:50:22</string>
				</dict>
			</dict>
			<key>testLiteralSearch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021404</real>
					<key>baselineIntegrationDisplayName</key>
					<string>26 Aug 2019 at 21:50:22</string>
				</dict>
			</dict>
			<key>testNonExistentLiteralSearch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25939</real>
					<key>baselineIntegrationDisplayName</key>
					<string>26 Aug 2019 at 21:50:22</string>
				</dict>
			</dict>
			<key>testNotNewLine()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15275</real>
					<key>baselineIntegrationDisplayName</key>
					<string>26 Aug 2019 at 21:50:22</string>
				</dict>
			</dict>
			<key>testOneOrMore()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.057469</real>
					<key>baselineIntegrationDisplayName</key>
					<string>26 Aug 2019 at 21:50:22</string>
				</dict>
			</dict>
			<key>testOptionalStringFollowedByNonOptionalString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.18639</real>
					<key>baselineIntegrationDisplayName</key>
					<string>26 Aug 2019 at 21:50:22</string>
				</dict>
			</dict>
			<key>testSkipping1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.062109</real>
					<key>baselineIntegrationDisplayName</key>
					<string>26 Aug 2019 at 21:50:22</string>
				</dict>
			</dict>
			<key>testWordBoundary()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.28928</real>
					<key>baselineIntegrationDisplayName</key>
					<string>26 Aug 2019 at 21:50:22</string>
				</dict>
			</dict>
			<key>testWordBoundaryManyLanguages()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.08367</real>
					<key>baselineIntegrationDisplayName</key>
					<string>26 Aug 2019 at 21:50:22</string>
				</dict>
			</dict>
			<key>testWordBoundaryRegex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.007244</real>
					<key>baselineIntegrationDisplayName</key>
					<string>8 Jul 2019 at 00:12:10</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
