<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testAnyNumeral()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.58448</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testContainsClosure()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.47939</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testLine()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25364</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testLiteralSearch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.61798</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testNonExistentLiteralSearch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.65127</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testNotNewLine()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.6741</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testOneOrMore()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.42867</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testOptionalStringFollowedByNonOptionalString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.68808</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testSkipping1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.26256</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testUppercaseWord()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.41869</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testWordBoundary()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.40732</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
			<key>testWordBoundaryManyLanguages()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.29614</real>
					<key>baselineIntegrationDisplayName</key>
					<string>5 May 2020 at 18:32:42</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
