<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testAnyNumeral()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.61405</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
			<key>testContainsClosure()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.50567</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
			<key>testLine()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.26298</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
			<key>testLiteralSearch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.65413</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
			<key>testNonExistentLiteralSearch()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.67721</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
			<key>testNotNewLine()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.67932</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.9872e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testOneOrMore()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.43377</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
			<key>testOptionalStringFollowedByNonOptionalString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.70984</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
			<key>testSkipping1()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.26616</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
			<key>testUppercaseWord()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.43782</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
			<key>testWordBoundary()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.42154</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
			<key>testWordBoundaryManyLanguages()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.30829</real>
					<key>baselineIntegrationDisplayName</key>
					<string>7 May 2020 at 21:25:02</string>
				</dict>
			</dict>
		</dict>
		<key>StringTests</key>
		<dict>
			<key>testAnyNumeral()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.3081e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testContainsClosure()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.5442e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testGrammarLiteralSearch()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.0042e+05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testLine()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.7144e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testLiteralSearch()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.3992e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testNonExistentLiteralSearch()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.4154e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testNotNewLine()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.5535e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testOneOrMore()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>9.2286e+05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testOptionalStringFollowedByNonOptionalString()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.0759e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testSkipping1()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.1965e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testUppercaseWord()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.9068e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testWordBoundary()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.5362e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testWordBoundaryManyLanguages()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.7748e+06</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
		</dict>
		<key>UTF8Tests</key>
		<dict>
			<key>testGrammarLiteralSearch()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.1135e+05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testLine()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>9.6233e+05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testLiteralSearch()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>8.3321e+05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testNonExistentLiteralSearch()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.0671e+05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testNotNewLine()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>7.4556e+05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testOptionalStringFollowedByNonOptionalString()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>8.219e+05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
			<key>testSkipping1()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.2521e+05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2020 at 20:14:16</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
